* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Add this CSS to hide the mobile menu by default */
.mobile-menu-list {
  display: none;
}

/* Add this CSS to show the mobile menu when the "show" class is applied */
.mobile-menu-list.show {
  display: block;
}
.mobile-menu.hidden {
  display: none;
}
body {
  background-color: #e5e5e5;
}

.desktop-menu,
.desktop {
  display: none;
}

.navbar {
  min-height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
  animation: my-logo infinite 5s ease-in-out;
}

.my-logo:hover {
  -webkit-animation: rubberband 2s;
  animation: rubberBand 2s;
}

@keyframes my-logo {
  50% {
    transform: rotate(180deg);
  }

  75% {
    text-shadow: 3px 9px 1px grey;
  }
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #6070ff;
}

.headline {
  background: #fff url("images/header-shapes-mobile.png") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 75px;
  padding: 55px 20px 0;
}

.headline h1 {
  width: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline .content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 24px;
  color: #344563;
  margin: 15px 0;
}

.headline .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 15px 0;
}

.categories ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  font-size: 1.3em;
  margin: 0;
}

.stack ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;
}

.headline .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline .social-media li {
  display: inline;
  margin-right: 4%;
  font-size: 1.4em;
}

.headline i {
  color: #505f79;
  margin-bottom: 58%;
}

.work {
  display: grid;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 15px;
  margin: 50px 20px;
}

.work img {
  width: 100%;
  height: auto;
}

.card-contents {
  display: flex;
  flex-direction: column;
}

.work .card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 44px;
  width: 65%;
  color: #172b4d;
  margin: 3px 0;
}

.counter span:first-of-type {
  color: #344563;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0;
  margin: 30px 0 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  color: #7a869a;
}

.counters {
  width: 10px;
  height: 10px;
  background-color: #c1c7d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px;
}

.work .card-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 5px 0;
  color: #344563;
}

.techs {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.techs .techs-item {
  display: inline-block;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 5px;
}

.techs-link {
  text-decoration: none;
  display: block;
  color: #6070ff;
}

.work .work-btn {
  width: 149px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0 20px 0;
}

.about-myself {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 15%;
  border-top-right-radius: 110px;
}

.myself,
.category {
  padding: 10px 30px;
}

.myself-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 65px 0 5px 0;
}

.myself .contents {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #344563;
  margin: 10px 0;
}

.myself .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 25px 0;
}

.myself .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.myself .social-media li {
  display: inline;
  margin-right: 4%;
  font-size: 1.2em;
}

.myself i {
  color: #505f79;
  margin-bottom: 5px;
}

.categories p {
  margin: 15px 0;
}

.stack p {
  margin-left: 16px;
  font-size: 1em;
}

.contact {
  border-top-left-radius: 105px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background: #6070ff url(images/contact.png) no-repeat center;
  background-size: 100% 90%;
  margin-top: 25%;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 50%;
}

.contact-info {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ebebff;
  margin: 0 auto;
}

button {
  padding: 10px;
  height: 48px;
  max-width: 162px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin: 20px 0;
}

.myself button {
  width: 140px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 30px 0 20px 0;
}

.form button {
  align-items: center;
  justify-content: center;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  padding: 12px;
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  outline: none;
  border: none;
}

input[type="submit"] {
  width: 48%;
  background-color: white;
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  min-width: 120px;
}

.work-btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
}

.work-btn:active {
  background-color: #2230d2;
  color: #fff;
}

.work-btn:disabled {
  border: 1px solid #5e6c84;
  color: #5e6c84;
}

.work-btn:enabled {
  border: 1px solid #6070ff;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

label {
  display: block;
}

input,
textarea {
  width: 320px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.shape {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  bottom: 8px;
  margin: 14% auto 2%;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 25px 110px;
  }

  .mobile-menu,
  .mobile,
  .shape {
    display: none;
  }

  .desktop-menu,
  .desktop {
    display: block;
  }

  .desktop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .desktop-menu li {
    display: inline-block;
  }

  .desktop-menu li a {
    display: block;
    color: #344563;
    padding: 8px 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 20px;
    text-align: center;
  }

  .headline {
    background: #fff url("images/Header\ bg@1x.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 75px;
    padding: 10% 18%;
    margin-bottom: 50px;
  }

  .headline h1 {
    width: 45%;
  }

  .headline .content {
    width: 90%;
  }

  .headline i {
    color: #505f79;
    margin-bottom: 5%;
  }

  .work {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    padding: 15px;
    margin: 7em;
  }

  .work:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work img {
    width: 100%;
    height: auto;
  }

  .img-card,
  .card-contents,
  .category,
  .myself {
    width: 50%;
  }

  .card-contents {
    padding: 30px;
  }

  .card-title,
  .counter,
  .card-desc,
  .techs,
  .work-btn {
    margin: 35px 0;
  }

  .btn-hover:hover {
    background-color: #6070ff;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
  }

  .about-myself {
    margin-top: 7em;
  }

  .my-resume {
    display: flex;
    flex-direction: row;
    padding: 90px;
  }

  .myself-title {
    margin: 10px;
  }

  .categories p {
    padding: 10px 0;
  }

  .stack ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #f7f7f9;
    border-radius: 10px;
    width: 120px;
    height: 120px;
  }

  .stack ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 15px 0;
  }

  .stack ul li p {
    font-size: 0.9em;
    font-weight: 500;
    color: #172b4d;
    margin: 15px 0 0 0;
  }

  .contact-me-section {
    margin: 0;
  }

  .contact {
    background: #6070ff url(images/header-shapes-mobile.png) no-repeat;
    background-size: contain;
    border-top-left-radius: 105px;
    box-sizing: border-box;
    padding: 9%;
    margin-top: 7em;
  }

  .contact .contact-me {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1em;
    line-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 20px 0;
  }

  .contact-info {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin: 0 auto;
    width: 70%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  input,
  textarea {
    width: 500px;
  }
}
