* {border: 
  box-sizing: border-box;
}

body {
  
  display: flex;
  font-family: poppins, sans-serif;
  flex-direction: column;
  margin: 0 auto;
  width: 375px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: center;
  gap: 199px;
}

#burgerContainer {
  align-items: flex-start;
  padding: 8px;
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

#burgerMenu {
  height: 24px;
  width: 24px;
}

#logoContainer {
  display: inline-flex;
  width: 100px;
  height: 40px;
  align-items: center;
  padding: 10px 12px 10px 12px;
  flex-grow: 1;
}

#logo {
  width: 76px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
}

#headline {
  display: inline;
  flex-direction: column;
  background-color: white;
  background-image: url(header-shapes-mobile.png);
  background-repeat: no-repeat;
  width: 375px;
  height: 604px;
  padding: 114px 24px 114px 24px;
  gap: 12px;
  border-radius: 0 0 0 70px;
  padding-top: 104px;
  top: 92px;
}

#greeting {
  color: rgba(23, 43, 77, 1);
  display: inline;
  height: 150px;
  width: 327px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}

#intro {
  color: rgba(52, 69, 99, 1);
  height: 146px;
  width: 327px;
  line-height: 24px;
  font-weight: 400;
}

#connect {
  color: rgba(127, 140, 255, 1);
  width: 117px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 12px;
  gap: 8px;
}

.social {
  display: flex;
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
}

.icon {
  background-color: white;
}

ul {
  list-style-type: none;
  margin-left: -2.5rem;
}
